@mixin button-template($color, $background-color, $font-size) {
    color: $color;
    cursor: pointer;
    font-size: $font-size;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    border: none;
    background-color: $background-color;
}  

@mixin button-hover-template($color, $background-color) {
    color: $color;
    background-color: $background-color;
    transition: all 0.3s linear;
}
