$app-height: 100vh;
$default-font-size: 1.3rem;

$nav-font-size: 1.5rem;
$nav-heading-size: 3rem;
$heading-font-family: 'Merriweather', serif;
$nav-heading-font-weight: 300;
$button-font-size: $default-font-size;
$all-icons-size: 2.5rem;

$red-theme-color: hsl(0, 100%, 55%);
$app-background-color: hsl(0, 30%, 94%);
$app-body-background-color: hsl(0, 0, 94%);

