@import 'src/sass/var';
@import 'src/sass/functions';

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    align-items: center;
    font-size: $nav-font-size;
    
    & > h1 {
        font-size: $nav-heading-size;
        font-family: $heading-font-family;
        font-weight: $nav-heading-font-weight;

        & > span {
            color: $red-theme-color;        
            font-size: $nav-heading-size;
        }
    }
    
    & > div:nth-child(2) {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;

        & > a:hover {
            color: $red-theme-color;
        }
    }
    
    & > div:last-child {
        display: grid;
        grid-template-columns: repeat(2,max-content);
        column-gap: 1.5rem;
        justify-self: flex-end;
        justify-items: flex-end;
        align-items: center;

        & > svg {
            font-size: $all-icons-size;
            cursor: pointer;
        }
        
        & > button {
            @include button-template(#fff, $red-theme-color, $nav-font-size)
        }
    }

}





