@import 'src/sass/var';
@import 'src/sass/functions';

.nav__wrapper {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 2rem;

    .nav {
        display: grid;
        grid-template-columns: 1fr repeat(2, max-content);
        column-gap: 2rem;
        grid-template-rows: min-content;
        align-items: center;
        
        & > h1 {
            font-size: $nav-heading-size;
            font-family: $heading-font-family;
            font-weight: $nav-heading-font-weight;
    
            & > span {
                color: $red-theme-color;        
                font-size: $nav-heading-size;
            }
        }
        
        & > .nav__options1 {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1rem;
    
            & > a {
                font-size: $nav-font-size;
            }
    
            & > a:hover {
                color: $red-theme-color;
            }
    
            @media screen and (max-width: 768px) {
                & {
                    display: none;
                }
            }
        }
        
        & > .nav__options2 {
            display: grid;
            grid-template-columns: repeat(2,max-content);
            column-gap: 1.5rem;
            justify-self: flex-end;
            justify-items: flex-end;
            align-items: center;
    
            & > .icon-wrapper {
                position: relative;
    
                & > svg {
                    font-size: $all-icons-size;
                    cursor: pointer;
                }
    
            }
    
            & > .icon-wrapper::before {
                position: absolute;
                right: 0; 
                top: 0;
                content: "";
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background-color: $red-theme-color;
            }
    
            
            & > button {
                @include button-template(#fff, $red-theme-color, $nav-font-size)
            }
    
            & > button:hover {
                @include button-hover-template($red-theme-color, #fff);
            }
    
            @media screen and (max-width: 768px) {
                & {
                    grid-column: 2/3;
                }
            }
    
        }
    
        & > .nav__hamburger {
            display: none;
    
            @media screen and (max-width: 768px) {
                & {
                    cursor: pointer;
                    display: block;
                    grid-column: 3/4;
                    justify-self: flex-end;

                    & > svg {
                        font-size: $all-icons-size;
                    }
                }
            }
        }
    
    }

    .hamburgerOptions__hide {
        display: none;
    }

    .hamburgerOptions__show {
        display: grid; 
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1rem;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 0 1rem rgba(#000, 0.5);
        border-radius: 1rem;

        & > a {
            font-size: $nav-font-size;
        }
        
        & > a:hover {
            color: $red-theme-color;
        }

        @media screen and (min-width: 769px) {
            & {
                display: none;
            }
        }
    }
}


