@import 'src/sass/var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $default-font-size;
}

.app {
    width: $app-width;
    min-height: $app-height;
    display: grid;
    place-items: center;
    background-color: $app-background-color;
}

.app__body {
    width: $app-width - 10vw;
    height: $app-height;
    margin-top: 2rem;
    padding: 3rem 8rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 4rem;
    background-color: $app-body-background-color;
    border: 0.2rem solid #fff;
    border-radius: 3rem;
}
